.idea/
__pycache__/
.ipynb_checkpoints/
.neptune/

data/books_xml/
report/

data-prep.ipynb
bot.ipynb
bot-test.py
goodreads-parser.ipynb
recommendation-lists.ipynb
data/books_parsed.pickle
data/item_features.npz
data/books_transform.csv